
body {
	text-align: center;
  background: #466368;
  background: radial-gradient(rgba(132, 59, 33, 0.29), #293f50);
  max-width: 350px;
  margin: 0 auto;
}


a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 1.75em;
	text-align: center;
}

input {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 50px;
	font-size: 1em;
	background-color: white;
	border-radius: 5px;
}

/*form {
	background-color: white;
	padding: 4em 4em 2em;
	max-width: 400px;
	margin: 0 auto;
	box-shadow: 0 0 lem #222;
	border-radius: 5px;
}*/

.buttons button{
	margin: 15px auto;
	display: block;
}

#showHint {
	display: none;
}

button {
	width: 225px;
	font-size: 1.25em;
	color: rgb(255, 136, 0);
	background-color: rgba(119, 101, 101, 0.37);
	display: block;
	padding: 8px;
	margin: 10px;
	border-radius: 5px;
	border: 6px solid #C8C8C8;
}

button:hover {
	background-color: rgba(60, 60, 60, 0.89);
}

#submitGuess {
	color: red;
}